main {
    max-width: 600px;
    min-width: 300px;
    margin: auto;
}

.jumbotron {
    padding-bottom: 20px;
    padding-top: 20px;
}

.answersContainer {
    display: block;
    margin: auto;
    overflow: auto;
}

.answer {
    float: left;
}

form {
    width: 400px;
    margin: auto;
}